<app-header [nbre]="nbre"></app-header>
<app-slide></app-slide>
<app-smd-option [typeCatalogue]="typeCatalogue" (fitreCatalogue)="fitreCatalogue($event)"></app-smd-option>

    <div class="diviseur"></div>
    <!-- <app-detail-burger *ngIf="visible" (closeDetail)="closeDetail()"></app-detail-burger> -->
    <div class="d-flex justify-content-center p-4 flex-wrap gap-4">
            <!-- {{burger.nom}} -->
            <div class="card text-start card-cat"  *ngFor="let produit of produits">
                <!-- {{ produit|json }} -->
                <!-- {{produit|json}} -->
                <app-card (showDetail)="showDetail($event)"  [catalogue_burger]="produit" [idBurger]=produit.id  [show]="show_btn_Add_burger" [show-menu]="show_btn_Add_menu" ></app-card>

            </div>
            <app-detail-burger *ngIf="visible" [burger]="produit" (closeDetail)="closeDetail()"></app-detail-burger>

            <!-- <span>{{ burger.nom }}</span> -->
    </div>
    <div class="d-flex flex-column align-items-center">
        <button class="btn-plus">Afficher Plus</button>
    </div>
<app-footer></app-footer>