<div class="div-detail d-flex align-items-center justify-content-between gap-2">
    <div class="div-img d-flex align-items-center justify-content-center"><i class="bi bi-arrow-right-square-fill"></i></div>
    <div class="div-nom d-flex align-items-center justify-content-start"><h4>Cannette</h4> </div>
    <div class="div-qte d-flex align-items-center justify-content-center"><span>2</span></div>
    <div class="div-prix d-flex align-items-center justify-content-center"><span>500 XOF</span></div>
</div>