.content{
    width:100%;
    height:100vh;   
}

.block-1{
    border-right:0.2vh solid #FFB135;
}

.block-2{
    padding:0;
    margin:0;  
    height:100%;

}

.block-2-content{
    width: 100%;
    height:92vh;
    margin-top:8vh;

}

.block-titre{
    height:7vh;
    width:100%;
}

select{
    width:30vh;
    height: 3vh;
    border:0.3vh solid #FFB135;
    border-radius:2vh;
    font-size:2vh;
}