<div class="slide ">
        <!-- <img class="d-block w-100 img-slide" src="../../../../assets/images/amirali-mirhashemian-7NYn7YfpaZo-unsplash.jpg" alt="First slide"> -->
        <div class="slide-titre">
            <p class="lh-1">
                Le meilleur endroit pour manger des hamburgers
            </p>
        </div>
        
        <div class="slide-btn"  *ngIf="user == null ?true: false">
           <button type="button" class="btn-auth btn-login" routerLink="/securite/login">Login</button>
           <button type="button" class="btn-auth btn-ins" routerLink="/securite/register">S'inscrire</button>
        </div>        
</div>