<app-header [nbre]="nbre" ></app-header>
<div class="container-fluid content d-flex align-items-start gap-5">
    <ng-container *ngIf="isExist;else panierVide">
    <div class="block-1 d-flex flex-column align-items-start p-lg-4 gap-2">
        <ng-container *ngFor="let menu of menus">
            <app-card-produit-commande [produit]="menu.menu" [quantite]="menu.quantite" ></app-card-produit-commande>
        </ng-container>
        <ng-container *ngFor="let burger of burgers">
            <app-card-produit-commande [produit]="burger.burger" [quantite]="burger.quantite"></app-card-produit-commande>
        </ng-container>
    </div>

    <div class="block-2 p-4 d-flex flex-column gap-2 ">
        <div class="w-full border-y-white h-14 d-flex align-items-center bg-white pl-2 gap-2">
            <span class="text-3xl">Montant Total: </span><span class="text-4xl fw-bold">{{prixTotale}}</span>
        </div>
        <div class="w-full border-y-white h-14 d-flex align-items-center bg-white pl-2 gap-2">
            <span class="text-3xl fw-bold">Type de Livraison</span>
        </div>
        <div class="w-full border-y-white h-14 d-flex align-items-center bg-white pl-10 gap-2">
            <div class="form-check">
                <input class="form-check-input" (change)="getTypeLivraison($event)" type="radio" #surPlace name="flexRadioDefault" value="1" id="flexRadioDefault1">
                <label class="form-check-label text-xl" for="flexRadioDefault1">
                  Sur Place
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input fw-bold" type="radio" (change)="getTypeLivraison($event)"  #alivrer value="2" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label text-xl" for="flexRadioDefault1">
                  A Livrer
                </label>
            </div>
        </div>
        <div class="w-full border-y-white h-14 d-flex align-items-cente pl-10 gap-2">
            <div class="d-flex align-items-center gap-2" >
                <label class="text-xl fw-bold">Téléphone: </label>
                <input #telephone type="text" class="h-10">
            </div>
            <div class="d-flex align-items-center gap-2">
                <label class="text-xl fw-bold" >Email: </label>
                <input  #email  type="text" class="h-10">
            </div>
        </div>
        <div class="w-full border-y-white h-14 d-flex align-items-center  pl-10 gap-2">
            <div class="d-flex align-items-center gap-2">
                <label class="text-xl fw-bold">Zone: </label>
               <select #zone class="h-10 bg-white border-2">
                    <option value="0">Selectionner une zone</option>
                    <option value="{{zone.id}}" *ngFor="let zone of zones">
                        <h3 class="fw-bold">{{zone.nom}} :</h3>
                        <span *ngFor="let quartier of zone.quartiers"> {{quartier.libelle}}</span>
                    </option>
                    <!-- <option value="">Zone B: Pikine, Guédiawaye, Parcelle</option> -->
               </select>
            </div>
        </div>
        <div class="w-full border-y-white h-14 d-flex align-items-center pl-10 gap-2">
            <button type="button" class="btn btn-success btn-lg" (click)="valideCommande(telephone.value,email.value, zone.value)">Valider La Commande</button>
            <button type="button" class="btn btn-warning btn-lg">Annuler</button>
        </div>
        
    </div>
</ng-container>
<ng-template #panierVide>
    <!-- <h4 class="text-red-600">Le Panier est Vide</h4> -->
    <!-- <button class="btn btn-default bg-red-200">Supprimer</button> -->
    <div class="d-flex align-items-center justify-content-center  w-full pt-20">
        <div class="text-center">
            <!-- <h1 class="display-1 fw-bold">Pas de Produits</h1> -->
            <p class="fs-3"> <span class="text-danger">Stop!</span> Pas de Produits dans le Panier.</p>
            <p class="lead">
                Veuillez choisir des produits.
              </p>
            <a href="index.html" class="btn btn-outline-primary">Voir Catalogue</a>
        </div>
    </div>
</ng-template>
</div>

<router-outlet></router-outlet>
