<ng-container >
    <div class="alert alert-success" *ngIf="success" role="alert">
        <strong>Success!</strong><label for="" class="ml-4">Livraison validé avec succéss</label>
    </div>
    
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr class="head">
                <th><div>Date</div></th>
                <th><div>Montant</div></th>
                <th><div>Etat</div></th>
                <th><div>Action</div></th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let livraison of livraisons |filterLivraisonEtat:filterEtatLivraison | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                };
                let i = index  ">
                <td class="align-middle">{{livraison.date}}</td>
                <td class="align-middle">{{livraison.montantTotal}}</td>
                <td class="align-middle">{{livraison.etat}}</td>
                <td class="d-flex align-items-center justify-content-center gap-3">
                    <button class="btn btn-details btn-hover" (click)="detailsLivraison(livraison)">Détails</button>
                    <button class="btn btn-annuler" (click)="validerLivraison(livraison)" >Valider</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls previousLabel="Précédent" nextLabel="Suivant" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
    </ng-container>