.content{
    height: auto;
    width: 100%;
    /* background-color: rgb(234, 234, 234); */
    padding:5vh;
    margin-top: 8vh;
}

.block-2{
    width:40%;
    height:50vh;
    background-color: #EAECEE;
    border: 0.2vh solid #FFB135;

  
}

.block-1{
    width: 60%;
    height:auto;
    background-color: #EAECEE ;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 0.2vh solid #FFB135;
    max-height:50vh;
    overflow-y:scroll;
    overflow-x: hidden;
}