<div class="card0 d-flex flex-column align-items-center">
    <div class="card1 d-flex align-items-center justify-content-center">
        <img class="img-detail" src="../../../../assets/images/amirali-mirhashemian-xVKleclpof4-unsplash.jpg" alt="">
        <div class="quantite">
            <button><i class="bi bi-dash-square-fill"></i></button> <input type="number" name="" min="0" value="0" id=""><button><i class="bi bi-plus-square-fill"></i></button>
        </div>
        <button class="btn-clos"><i class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
    <div class="card2 d-flex flex-column gap-2">
        <div class=" d-flex align-items-center gap-5 p-lg-4">
            <label for="" class="fw-bold">Nom Produit:</label><span>Burger Pro Max</span>
        </div>
        <div class=" d-flex align-items-center gap-5 p-lg-4">
            <label for="" class="fw-bold">Prix:</label><span>3500 XOF</span>
        </div>
            <button class="btn-panier">Ajouter au Panier</button>  
            <button class="btn-panier btn-cpt">Ajouter des Compl</button>  
    </div>
</div>