table{
    width:140vh;
    border:0.1vh solid #FFB135;
    background-color:#F6F5F5;
}

.head div{
    width: 100%;
    height:4vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#FFB135;
    font-size:2vh;
    color:white;
    border-radius:1vh;
}

.btn{
    border-radius:1.5vh;
    /* width:15vh */
}

.btn-details{
    border:0.3vh solid #FFB135;
    color:#FFB135;
}

.btn-details:hover{
    background-color:#FFB135;
    color:white;
}

.btn-annuler{
    border:0.3vh solid #E74C3C;
    color:#E74C3C;
}

.btn-annuler:hover{
    background-color:#E74C3C;
    color:white;
}

.btn-annuler:disabled{
    background-color:rgb(228, 211, 211);
}

.btn-succes{
    border:0.3vh solid green;
    color:green;
}

.btn-succes:hover{
    background-color:green;
    color:white;
}

.btn-succes:disabled{
    background-color:rgb(173, 185, 173)
}