<ng-container *ngIf="commandes.length !=0 ? true : false ">
<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr class="head">
            <th><div>Numéro</div></th>
            <th><div>Date</div></th>
            <th><div>Montant</div></th>
            <th *ngIf="role == 'gestionnaire'"><div>Client</div></th>
            <th><div>Etat</div></th>
            <th><div>Action</div></th>
        </tr>
    </thead>
    <tbody>
        <tr class="" *ngFor="let commande of commandes | filterCommande:filterEtat | filterCommandeDate:filterDate | filterZoneCommande: filterZone |filterClientCommande:filterPrenom | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index  ">
    <!-- {{filterEtat}} -->
    <!-- {{filterPrenom}} -->
    <!-- <tr class="" *ngFor="let commande of commandes | filterCommande:filterEtat"> -->
            <td class="align-middle">{{commande.numeroCommande}}</td>
            <td class="align-middle">{{commande.date}}</td>
            <td class="align-middle">{{commande.montant}}</td>
            <td class="align-middle" *ngIf="role == 'gestionnaire'">{{commande.client.prenom}} {{commande.client.nom}}</td>
            <td class="align-middle">{{commande.etat}}</td>
            <td class="d-flex align-items-center justify-content-center gap-3">
                <button class="btn btn-details btn-hover" routerLink="/catalogue/panier/2">Détails</button>
                <!-- <button class="btn btn-details btn-hover" *ngIf="role == 'gestionnaire'" routerLink="/catalogue/panier/2">Valider</button> -->
                <button class="btn btn-succes" value="{{ commande.etat == 'en cours' ? 'terminer' :  commande.etat == 'terminer' && commande.zone == null ? 'valider':  commande.etat == 'en livraison' ? 'valider': 'inactif' }}" (click)="updateEtat(commande, $event)"  [disabled]="commande.etat == 'valider' || commande.etat == 'annuler' || commande.etat == 'terminer' && commande.zone != null ?  true : false ">{{ commande.etat == 'en cours' ? 'Terminer' :  commande.etat == 'terminer' && commande.zone == null ? 'Valider':  commande.etat == 'en livraison' ? 'Valider': 'Inactif' }}</button>
                <button class="btn btn-annuler" (click)="annulerCommande(commande)"  [disabled]="commande.etat == 'valider' || commande.etat == 'annuler' ? true : false ">Annuler</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
<!-- <app-itemtable-commande></app-itemtable-commande> -->
</ng-container>