<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr class="head">
            <th><div>Numéro</div></th>
            <th><div>Date</div></th>
            <th><div>Montant</div></th>
            <th><div>Etat</div></th>
            <th><div>Action</div></th>
        </tr>
    </thead>
    <tbody>
        <tr class="" *ngFor="let commande of commandes | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index">
            <td class="align-middle">{{commande.numeroCommande}}</td>
            <td class="align-middle">{{commande.date}}</td>
            <td class="align-middle">{{commande.montant}}</td>
            <td class="align-middle">{{commande.etat}}</td>
            <td class="d-flex align-items-center justify-content-center gap-3">
                <button class="btn btn-details btn-hover" routerLink="/catalogue/panier/2">Détails</button>
                <button class="btn btn-annuler">Annuler</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
<!-- <app-itemtable-commande></app-itemtable-commande> -->