<app-head></app-head>

<div class="content row">
    <div class="block-1 d-flex align-items-center justify-content-center col-5 ">
        <img src="././././assets/images/amirali-mirhashemian-j-MPEwH9LM4-unsplash.jpg" class="img-login">
    </div>
    <div class="block-2 d-flex flex-column align-items-center justify-content-center col-7 ">
       <div class="alert alert-danger w-4/5 pulse" *ngIf="show" role="alert">
            <strong>Error: Veuillez remplir tous les champs</strong>
       </div>
       
        
        <app-form-registre (alertEmitter)="showAlert($event)"></app-form-registre>
    </div>
</div>

<app-foot></app-foot>
