<form class="form-login justify-content-center d-flex flex-column">
    <div class="d-flex align-iems-center justify-content-center">
        <h3 class="text-4xl fw-bold">Inscription</h3>
    </div> 
    <div class="row">
        <div class=" col-6 d-flex flex-column p-3">
            <label>Votre Nom:</label>
            <input type="text" placeholder="Koni">
        </div>
        <div class="col-6 d-flex flex-column p-3">
            <label>Votre Prénom</label>
            <input type="text" placeholder="Rambo">
        </div>
    </div> 
    <div class="row">
        <div class=" col-6 d-flex flex-column p-3">
            <label>Votre Adresse</label>
            <input type="text" placeholder="pambal">
        </div>
        <div class="col-6 d-flex flex-column p-3">
            <label>Votre Téléphone</label>
            <input type="text" placeholder="77 777 77 77">
        </div>
    </div> 
    <div class="row">
        <div class=" col-6 d-flex flex-column p-3">
            <label>Votre Email</label>
            <input type="email" placeholder="monemail@gmail.com">
        </div>
        <div class="col-6 d-flex flex-column p-3">
            <label>Votre Password</label>
            <input type="password" placeholder="***********">
        </div>
    </div>
    <div class="row">
        <div class=" col-6 d-flex flex-column p-3">
            <label>Confirme Password</label>
            <input type="password" placeholder="*********">
        </div>
    </div>
    <div class="d-flex align-iems-center justify-content-center p-3">
        <button type="submit" class="btn-connecter" routerLink="/securite/login">S'Insrire</button>
    </div> 
</form>