.content{
    /* margin-top: 8vh; */
    top:10%;
    height:95vh;
}

.block-2{
    height:100%;
}

.block-1{
    height:100%;
}

.block-1 img{
    width:60vh;
    height:60vh;
    border-radius:50%;
    border:0.7vh solid #FFB135;
}