<div class="div-detail d-flex align-items-center justify-content-between gap-2">
    <!-- {{burger}} -->
    <!-- {{ burger|json }} -->
    <div class="div-img d-flex align-items-center justify-content-center"><img src="data:image/png;base64,{{burger?.image}}" alt=""></div>
    <div class="div-nom d-flex align-items-center justify-content-start"><h4>{{ burger?.nom }}</h4> </div>
    <div class="div-qte d-flex align-items-center justify-content-center"><span>{{ quantite }}</span></div>
    <div class="div-prix d-flex align-items-center justify-content-center"><span>{{burger?.prix}} XOF</span></div>
</div>