<ng-container *ngIf="(zoneDto|async) as zone">
    <app-header></app-header>
<div class="content d-flex">
    <div class="col-2 block-1 bg-gray-100 h-full">
        <app-slide-bar></app-slide-bar>
    </div>
    <div class="col-10 block-2 bg-gray-200 d-flex flex-column">
        <div class="block-2-content bg-white d-flex flex-column align-items-center gap-10 pt-5">
            <div class="block-titre d-flex align-items-center justify-content-center text-2xl text-white fw-bold ">
                <span>Liste Commandes</span>
            </div>
            <ng-container *ngIf="commandes.length != 0">
                    <app-items-filtre (filterEmitter)="filterEmitter($event)" [zones]="zone.zones" (filterDateEmitter)="filterDateEmitter($event)"  (filterPrenomEmitter)="filterPrenomEmitter($event)" (filterZoneEmitter)="filterZoneCommande($event)"></app-items-filtre>
                    <app-table-commande [commandes]="commandes" [role]="role"  [filterEtat]="filterEtat" [filterDate]="filterDate" [filterPrenom]="filterPrenom" [filterZone]="filterZone"></app-table-commande>
            </ng-container>
        </div>
    </div>
</div>

</ng-container>