<div class="div-menu div-menu1 d-flex justify-content-between align-items-center">
    <div class="col-11 d-flex justify-content-center gap-4 option">
        <button routerLink="" [queryParams]="{ catalogue: 'burgers' }" class="d-flex flex-column align-items-center" value="burgers" #btnB (click)="ChangeCatalogue(btnB.value)" routerLinkActive="active" ><i class="bi bi-star-fill"></i><span>Burgers</span></button>
        <button routerLink="" [queryParams]="{ catalogue: 'menus' }" class="d-flex flex-column align-items-center" value="menus" #btn (click)="ChangeCatalogue(btn.value)" routerLinkActive="active"><i class="bi bi-star-fill"></i><span>Menu</span></button>
        <button routerLink="" [queryParams]="{ catalogue: 'complement' }" class="d-flex flex-column align-items-center" value="complement"  routerLinkActive="active" #btn1 (click)="ChangeCatalogue(btn1.value)"><i class="bi bi-star-fill"></i><span>Complements</span></button>
        <!-- <button href="" class="d-flex flex-column align-items-center disable" disabled><i class="bi bi-star-fill"></i><span>Boissons</span></button> -->
        <!-- <a href=""><i></i>Menu</a> -->
    </div>
    <!-- <div class="col-1">
     
    </div> -->
</div>



