.div-detail{
    width: 100%;
    background-color: rgb(243, 238, 238);
    height: 8vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border:0.1vh solid #FFB135;


}

.div-img img{
    height: 6vh;
    width: 6vh;
    border-radius:50%;
    border:0.2vh solid #FFB135;
}

.div-img{
    width:15%;
}

.div-nom{
    width:50%;
}

.div-qte{
    width:10%;
}

.div-prix{
    width: 25%;
}

.div-qte span{
    font-size: 2vh;
    font-weight:bold;
    background-color:#2ECC71;
    width: 80%;
    text-align: center;
    border-radius: 50%;
    padding-top: 0.5vh;
    padding-bottom:0.5vh;
    color: white;
}

.div-prix span{
    background-color:#FFB135;
    width:90%;
    text-align: center;
    font-size: 2.5vh;
    font-weight:bold;
    color: white;
    border-radius:2vh;
}