<div class="block-filter d-flex justify-content-center align-items-center gap-5 " >
    <label>Filtre</label>
    <div class="d-flex justify-content-center gap-2">
        <span>Etat</span>
        <select>
            <option>Selectionner</option>
            <option>En cours</option>
            <option>Terminer</option>
            <option>Valider</option>
            <option>Annuler</option>
        </select>
    </div>
    <div class="d-flex justify-content-center gap-2">
        <span>Date</span>
        <div class="d-flex justify-content-center gap-2">
            <span>du</span>
            <input type="date">
            <span>au</span>
            <input type="date">
        </div>
    </div>
</div>
